*
{
	box-sizing: border-box;
}
h3
{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}
p
{
	padding: 5px;
	font-family: 'Noto Sans', sans-serif;
}
body
{
	background: url("theme.png"),center,no-repeat;
	background-size: cover;
	color: white;
}
.container
{
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}


.section
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(0,0,0,0.4);
	position: relative;
	width: 600px;
	left: 350px;
	top: 30px;
	color: white;
	box-shadow: 0px 0px 10px 5px #17C3B2;
}
.section:hover
{
	box-shadow: 0px 0px 15px 10px #AF40FF;
}
